{# This snippet shows a form to add/edit an admin; if admin is set, its data will be used as defaults. #}

{% if admin is defined %}
  {% set admin_username = admin.username %}
  {% set admin_name = admin.name %}
  {% set admin_permission_all = admin.permission_all %}
  {% set admin_permission_messaging = admin.permission_messaging %}
  {% set admin_enabled = admin.enabled %}
{% else %}
  {% set admin_username = "" %}
  {% set admin_name = "" %}
  {% set admin_permission_all = True %}
  {% set admin_permission_messaging = False %}
  {% set admin_enabled = True %}
{% endif %}

<div class="form-group row">
  <label class="col-md-3 col-form-label">
    Username
  </label>
  <div class="col-md-9">
    <input class="form-control" type="text" name="username" value="{{ admin_username }}"/>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-3 col-form-label">
    Password
  </label>
  <div class="col-md-9">
    <input class="form-control" type="password" name="password" value=""/>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-3 col-form-label">
    Name
  </label>
  <div class="col-md-9">
    <input class="form-control" type="text" name="name" value="{{ admin_name }}"/>
  </div>
</div>
{% if admin.permission_all %}
  <div class="form-group row">
    <label class="col-md-3" for="permission_all">
      All permissions
    </label>
    <div class="col-md-9">
      <input type="checkbox" id="permission_all" name="permission_all" {% if admin_permission_all %}checked{% endif %} />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3" for="permission_messaging">
      Messaging permissions
    </label>
    <div class="col-md-9">
      <input type="checkbox" id="permission_messaging" name="permission_messaging" {% if admin_permission_messaging %}checked{% endif %} />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3" for="enabled">
      Enabled
    </label>
    <div class="col-md-9">
      <input type="checkbox" id="enabled" name="enabled" {% if admin_enabled %}checked{% endif %} />
    </div>
  </div>
{% endif %}
