{% extends "base.html" %}

{% block js %}

{% endblock js %}

{% block core %}
<h1 class="display-4">New contest</h1>

<form enctype="multipart/form-data" action="{{ url("contests", "add") }}" method="POST" name="add_contest">
  {{ xsrf_form_html|safe }}

  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      <span class="help">
        Name
        <span class="help-text">A short name for the contest, preferably using only letters, numbers and underscores.</span>
      </span>
    </label>
    <div class="col-md-9">
      <input class="form-control" type="text" name="name" value="">
    </div>
  </div>

  <input class="btn btn-success" type="submit">
</form>

{% endblock core %}
