{% extends "base.html" %}

{% block core %}
<h1 class="display-4">Upload statement</h1>
<h2><a href="{{ url("task", task.id) }}">{{ task.title }} ({{ task.name }})</a></h2>

<form enctype="multipart/form-data" action="{{ url("task", task.id, "statements", "add") }}" method="POST">
  {{ xsrf_form_html|safe }}

  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      Language code
    </label>
    <div class="col-md-9">
      <input class="form-control" type="text" name="language"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      Upload
    </label>
    <div class="col-md-9">
      <input class="form-control" type="file" name="statement"/>
    </div>
  </div>

  <input class="btn btn-success" type="submit" value="Upload">
  <input class="btn btn-warning" type="Reset" >
</form>
{% endblock core %}
