{% extends "base.html" %}

{% block core %}

<h1 class="primary-4">New user</h1>

<form enctype="multipart/form-data" action="{{ url("users", "add") }}" method="POST">
  {{ xsrf_form_html|safe }}

  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      <span class="help">
        First name
        <span class="help-text">First name of the contestant.</span>
      </span>
    </label>
    <div class="col-md-9">
      <input class="form-control" type="text" name="first_name"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      <span class="help">
        Last name
        <span class="help-text">Last name of the contestant.</span>
      </span>
    </label>
    <div class="col-md-9">
      <input class="form-control" type="text" name="last_name"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      <span class="help">
        Username
        <span class="help-text">Username of the contestant (used to log in).</span>
      </span>
    </label>
    <div class="col-md-9">
      <input class="form-control" type="text" name="username" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      <span class="help">
        Password
        <span class="help-text">Contestant password. Caution: stored in plain text.</span>
      </span>
    </label>
    <div class="col-md-9">
      {% set hashed_password = None %}
      {% include "fragments/hashed_password_form.html" %}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      <span class="help">
        E-mail
        <span class="help-text">Contestant e-mail address.</span>
      </span>
    </label>
    <div class="col-md-9">
      <input class="form-control" type="text" name="email" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      <span class="help">
        Timezone
        <span class="help-text">Timezone of the contestant, used to display start, end times and the current server time in local time.
                              Example: 'Europe/Rome', 'America/New_York', ...</span>
      </span>
    </label>
    <div class="col-md-9">
      <input class="form-control" type="text" name="timezone" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      <span class="help">
        Preferred languages
        <span class="help-text">Comma-separated list of language codes, from the most to the least preferred.
                              Example: 'en, ja'.</span>
      </span>
    </label>
    <div class="col-md-9">
      <input class="form-control" type="text" name="preferred_languages" />
    </div>
  </div>

  <input class="btn btn-success" type="submit"/>
  <input class="btn btn-warning" type="reset" value="Reset" />
</form>

{% endblock core %}
