{% extends "base.html" %}

{% block core %}

<h1 class="display-4">Upload manager</h1>
<h2><a href="{{ url("task", task.id) }}">{{ task.title }} ({{ task.name }})</a></h2>

<form enctype="multipart/form-data" action="{{ url("dataset", dataset.id, "managers", "add") }}" method="POST">
  {{ xsrf_form_html|safe }}
  <input class="form-control" type="file" name="manager"/><br/>
  <input class="btn btn-success" type="submit" value="Upload">
  <input class="btn btn-warning" type="Reset" >
</form>
{% endblock core %}
