{% extends "base.html" %}

{% block core %}

<h1 class="display-4">New team</h1>

<form enctype="multipart/form-data" action="{{ url("teams", "add") }}" method="POST">
  {{ xsrf_form_html|safe }}

  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      Code
    </label>
    <div class="col-md-9">
      <input class="form-control" type="text" name="code"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      Name
    </label>
    <div class="col-md-9">
      <input class="form-control" type="text" name="name"/>
    </div>
  </div>

  <input class="btn btn-success" type="submit"/>
  <input class="btn btn-warning" type="reset" value="Reset" />
</form>

{% endblock core %}
