{% extends "base.html" %}

{% block core %}

<h1 class="display-4">New task</h1>

<form enctype="multipart/form-data" action="{{ url("tasks", "add") }}" method="post" >
  {{ xsrf_form_html|safe }}

  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      <span class="help">
        Name
        <span class="help-text">A short name for the task, preferably using only letters, numbers and underscores.</span>
      </span>
    </label>
    <div class="col-md-9">
      <input class="form-control" type="text" name="name">
    </div>
  </div>

  <input class="btn btn-success" type="submit">
</form>

{% endblock core %}

