{% extends "base.html" %}

{% block core %}

<h1 class="display-4">{{ admin.username }} <small>({{ admin.name }})</small></h1>

<!-- We use "multipart/form-data" to have Tornado distinguish between missing and empty values. -->
<form enctype="multipart/form-data" action="{{ url("admin", admin.id) }}" method="POST">
  {{ xsrf_form_html|safe }}
  <h2>Admin information</h2>

  {% include "fragments/admin_form.html" %}

  <input class="btn btn-success" type="submit" value="Update" />
  <input class="btn btn-warning" type="reset" value="Reset" />

  <p class="mt-4">Leaving the password field empty will keep the previous password.</p>
</form>

{% if admin.permission_all %}
  <hr/>
  <a href="#" class="btn btn-sm btn-danger" onclick="CMS.AWSUtils.ajax_delete('{{ url("admin", admin.id) }}'); ">Delete this admin</a>
{% endif %}

{% endblock core %}
