{% extends "base.html" %}

{% block core %}
<h1 class="display-4">Announcements</h1>

<div id="announcements">
  {% if admin.permission_all or admin.permission_messaging %}
    <form method="post" action="{{ url("contest", contest.id, "announcements", "add") }}">
      {{ xsrf_form_html|safe }}
      <div class="form-group">
        <label for="new_subject">Subject</label>
        <input type="text" name="subject" id="new_subject" class="form-control" list="task_names_list" autocomplete="off">
        <datalist id="task_names_list">
          {% for task in contest.tasks %}
          <option value="{{ task.name }}">
          {% endfor %}
        </datalist>
      </div>
      <div class="form-group">
        <label for="new_text">Text</label>
        <textarea name="text" id="new_text" class="form-control"></textarea>
      </div>
      <input type="submit" value="Add announcement" class="btn btn-success" />
    </form>
  {% endif %}
  {% if contest.announcements != [] %}
    {% for msg in contest.announcements|reverse %}
      <div class="alert alert-info mt-3">
        <div class="float-right font-weight-bold">
          <a href="#" onclick="CMS.AWSUtils.ajax_delete('{{ url("contest", contest.id, "announcement", msg.id) }}'); ">
            &times;
          </a>
        </div>

        <div><span class="font-weight-bold">{{ msg.subject }}</span> <span class="font-italic">({{ msg.timestamp }})</span></div>
        <div class="notification_text preserve_line_breaks">{{ msg.text }}</div>
      </div>
    {% endfor %}
  {% else %}
    <div class="mt-4">No announcements.</div>
  {% endif %}
</div>

{% endblock core %}
