{% extends "base.html" %}

{% block core %}

<h1 class="display-4">Contests list</h1>

<table class="table table-sm mt-3">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for c in contest_list %}
    <tr>
      <td><a href="{{ url("contest", c.id) }}">{{ c.name }}</a></td>
      <td>{{ c.description }}</td>
      <td>
        <form action="{{ url("contests") }}" method="POST">
          {{ xsrf_form_html|safe }}
          <input type="hidden" name="contest_id" value="{{ c.id }}"/>
          <input type="submit" name="operation" value="Remove" class="btn btn-danger btn-sm"
            {% if not admin.permission_all %}
              disabled
            {% endif %}
           />
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock core %}
