{% extends "base.html" %}

{% block core %}
<h1 class="display-4">Remove Contest</h1>

{% if admin.permission_all %}
  <p>
    Are you sure you want to remove contest <code>{{ contest.name }}</code> from CMS, including all related data?
    <br>
    This will remove {{ contest.participations|length }} participation(s) and {{ submission_count }} submission(s).
    <br>
    This operation cannot be undone.
  </p>
  <a onclick="CMS.AWSUtils.ajax_delete('{{ url("contests", contest.id, "remove") }}'); " class="btn btn-outline-danger" href="#">Yes</a>
  <a href="{{ url("contests") }}" class="btn btn-outline-primary">No</a>
{% else %}
  You do not have permission to remove a contest.
{% endif %}

{% endblock core %}
