{% extends "base.html" %}

{% block core %}
<h1 class="display-4">Tasks list of <a href="{{ url("contest", contest.id) }}">{{ contest.name }}</a></h1>

<form action="{{ url("contest", contest.id, "tasks", "add") }}" method="POST">
  {{ xsrf_form_html|safe }}

  <div class="row">
    <div class="col-md-2">
      <label class="col-form-label">Add a new task:</label>
    </div>
    <div class="col-md-4">
      <select name="task_id" class="form-control">
        <option value="null" selected>Select a new task</option>
        {% for t in unassigned_tasks %}
        <option value="{{ t.id }}">
          {{ t.name }}
        </option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-1">
      <input type="submit"
         class="btn btn-success"
         {% if not admin.permission_all %}
           disabled
         {% endif %}
         value="Add task" />
    </div>
  </div>
</form>

<table class="table table-sm mt-4">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for t in contest.tasks %}
    <tr>
      <td class="align-middle"><a href="{{ url("task", t.id) }}">{{ t.name }}</a></td>
      <td class="align-middle">{{ t.title }}</td>
      <td>
        <form action="{{ url("contest", contest.id, "tasks") }}" method="POST">
          {{ xsrf_form_html|safe }}
          <input type="hidden" name="task_id" value="{{ t.id }}"/>
          <input type="submit" name="operation" class="btn btn-secondary btn-sm"
            {% if not admin.permission_all %}
              disabled
            {% endif %}
            {% if loop.first %}
              disabled
            {% endif %}
            value="Move up" />
          <input type="submit" name="operation" class="btn btn-secondary btn-sm"
            {% if not admin.permission_all %}
              disabled
            {% endif %}
            {% if loop.last %}
              disabled
            {% endif %}
            value="Move down" />
          <input type="submit" name="operation" class="btn btn-danger btn-sm"
            {% if not admin.permission_all %}
              disabled
            {% endif %}
            value="Remove from contest" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock core %}
