{% extends "base.html" %}

{% block core %}
<h1 class="display-4">Users list</h1>

{% include "fragments/overload_warning.html" %}

<form action="{{ url("contest", contest.id, "users", "add") }}" method="POST">
  {{ xsrf_form_html|safe }}

  <div class="row">
    <div class="col-md-2">
      <label class="col-form-label">Add a new user:</label>
    </div>
    <div class="col-md-4">
      <select name="user_id" class="form-control">
        <option value="null" selected>Select a new user</option>
        {% for u in unassigned_users %}
          <option value="{{ u.id }}">
            {{ u.username }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-1">
      <input type="submit"
         class="btn btn-success"
         {% if not admin.permission_all %}
           disabled
         {% endif %}
         value="Add user" />
    </div>
  </div>
</form>


<table class="table table-sm mt-4">
  <thead>
    <tr>
      <th>Username</th>
      <th>First name</th>
      <th>Last name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for u in contest.participations|map(attribute="user")|sort(attribute="username") %}
    <tr>
      <td><a href="{{ url("contest", contest.id, "user", u.id, "edit") }}">{{ u.username }}</a></td>
      <td>{{ u.first_name }}</td>
      <td>{{ u.last_name }}</td>
      <td>
        <form action="{{ url("contest", contest.id, "users") }}" method="POST">
          {{ xsrf_form_html|safe }}
          <input type="hidden" name="user_id" value="{{ u.id }}"/>
          <input type="submit"
                 name="operation"
                 value="Remove from contest"
                 class="btn btn-warning btn-sm"
                 {% if not admin.permission_all %}
                   disabled
                 {% endif %}
                 />
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock core %}
