{% extends "base.html" %}

{% block js %}
function question_reply_toggle(element, invoker)
{
  var obj = document.getElementsByClassName("reply_question")[element];
  if (obj.style.display != "block")
    {
      obj.style.display = "block";
      invoker.innerHTML = "Hide reply";
    }
  else
    {
      obj.style.display = "none";
      invoker.innerHTML = "Reply";
    }
  return false;
}

function update_additional_answer(element, invoker)
{
  var obj = document.getElementsByClassName("alternative_answer")[element];
  if (invoker.selectedIndex == 5)
    obj.style.display = "block";
  else
    obj.style.display = "none";
}
{% endblock js %}

{% block core %}
<h1 class="display-4">
  Participation of <a href="{{ url("user", selected_user.id) }}">{{ selected_user.username }}</a> in <a href="{{ url("contest", contest.id) }}">{{ contest.name }}</a>
</h1>

<h2 id="title_submissions" class="mt-4">Submissions</h2>
<div id="submissions">
  <p>
    Reevaluate all {{ submission_count }} submissions for this user in this contest (for all datasets)
    {{ ReevaluationButtons(
           url("contest", contest.id, "user", participation.user_id, "edit"),
           participation_id=participation.id) }}
  </p>

  {% set page_url = url["contest"][contest.id]["user"][selected_user.id]["edit"] %}
  {% include "fragments/submission_rows.html" %}

  <div class="hr"></div>
</div>


<h2 class="mt-4">Participation information</h2>
<form enctype="multipart/form-data" action="{{ url("contest", contest.id, "user", selected_user.id, "edit") }}" method="POST">
  {{ xsrf_form_html|safe }}


  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      <span class="help">
        Team
        <span class="help-text">Code of the team of the contestant in this contest. Only used in the external ranking.</span>
      </span>
    </label>
    <div class="col-md-9">
      <input class="form-control" list="teams" name="team" value="{{ participation.team.code if participation.team is not none else "" }}"/>
      <datalist id="teams">
        {% for t in teams %}
          <option value="{{ t.code }}">
        {% endfor %}
      </datalist>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      <span class="help">
        Password
        <span class="help-text">Contestant password for this contest. If empty, the contestant's main password is used.
                                Caution: stored in plain text.</span>
      </span>
    </label>
    <div class="col-md-9">
      {% set hashed_password = participation.password %}
      {% include "fragments/hashed_password_form.html" %}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3" for="hidden">
      <span class="help">
        Hidden participation
        <span class="help-text">Whether the contestant's results will be visible in the external ranking.</span>
      </span>
    </label>
    <div class="col-md-9">
      <input type="checkbox" name="hidden" id="hidden" {% if participation.hidden %}checked{% endif %}/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3" for="unrestricted">
      <span class="help">
        Unrestricted participation
        <span class="help-text">Whether the contestant is unrestricted by maximum number of submissions, user tests,
                                and minimum interval between submissions, user tests, and contest time.</span>
      </span>
    </label>
    <div class="col-md-9">
      <input type="checkbox" name="unrestricted" id="unrestricted" {% if participation.unrestricted %}checked{% endif %}/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      <span class="help">
        IP address or subnet
        <span class="help-text">A comma-separated list of IP addresses (or subnets) of the contestant for this contest.
                                Used for IP-based login restrictions and/or for autologin (in this case, it must be a single address).</span>
      </span>
    </label>
    <div class="col-md-9">
      <input class="form-control" type="text" name="ip" value="{{ participation.ip|map("string")|join(", ") if participation.ip is not none else "" }}"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      <span class="help">
        Time of first login (in UTC)
        <span class="help-text">Time of first login during this contest, used for USACO-style contests.
                                Example: '2015-12-31 15:00:00'.</span>
      </span>
    </label>
    <div class="col-md-9">
      <input class="form-control" type="text" name="starting_time" value="{{ participation.starting_time if participation.starting_time is not none else "" }}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      <span class="help">
        Delay
        <span class="help-text">To be set (in seconds) to acknowledge that the contestant lost that amount of time at the beginning of the contest.
                                If this is non-zero, all the events (token generation, end of contest) for this contestant will be shifted of the appropriate amount.</span>
      </span>
    </label>
    <div class="col-md-9">
      <input class="form-control" type="text" name="delay_time" value="{{ participation.delay_time.total_seconds()|int }}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      <span class="help">
        Extra time
        <span class="help-text">To be set (in seconds) to acknowledge that the contestant lost that amount of time during the contest.
                                If this is non-zero, the end of the contest will be shifted of the appropriate amount for this contestant.</span>
      </span>
    </label>
    <div class="col-md-9">
      <input class="form-control" type="text" name="extra_time" value="{{ participation.extra_time.total_seconds()|int }}">
    </div>
  </div>

  <input type="submit" value="Update" class="btn btn-success" />
  <input type="reset" value="Reset" class="btn btn-warning" />
</form>


<h2 id="title_questions" class="mt-4">Questions</h2>
<div id="questions">
  {% if participation.questions != [] %}
  <div class="notifications">
    {% for msg in participation.questions %}
      {% set index = loop.index0 %}
      {% include "fragments/question.html" %}
    {% endfor %}
  </div>

  {% else %}
  No questions.

  {% endif %}
  <div class="hr"></div>
</div>


<h2 id="title_messages" class="mt-4">Messages</h2>
<div id="messages">
  <form id="send_message_form" action="{{ url("contest", contest.id, "user", selected_user.id, "message") }}" method="POST">
    {{ xsrf_form_html|safe }}
    <div class="form-group">
      <label>Subject</label>
      <input class="form-control" id="send_message_subject" type="text" name="message_subject"/>
    </div>
    <div class="form-group">
      <label>Text</label>
      <textarea class="form-control" name="message_text" style="width: 100%" ></textarea>
    </div>
    <input class="btn btn-success" type="submit" value="Send"/>
  </form>

  {% if participation.messages != [] %}

    {% for msg in participation.messages|reverse %}
    <div class="alert alert-info mt-3">
      <div><span class="font-weight-bold">{{ msg.subject }}</span> <span class="font-italic">({{ msg.timestamp }})</span></div>
      <div class="notification_text preserve_line_breaks">{{ msg.text }}</div>
    </div>
    {% endfor %}

  {% else %}
    <div class="mt-4">No messages.</div>
  {% endif %}
</div>


{% endblock core %}
