{% extends "base.html" %}

{% block js %}
function question_reply_toggle(element, invoker)
{
  var obj = document.getElementsByClassName("reply_question")[element];
  if (obj.style.display != "block")
    {
      obj.style.display = "block";
      invoker.innerHTML = "Hide reply";
    }
  else
    {
      obj.style.display = "none";
      invoker.innerHTML = "Reply";
    }
  return false;
}

function update_additional_answer(element, invoker)
{
  var obj = document.getElementsByClassName("alternative_answer")[element];
  if (invoker.selectedIndex == 5)
    obj.style.display = "block";
  else
    obj.style.display = "none";
}
{% endblock js %}

{% block js_init %}

utils.show_page("questions", 1);

{% endblock js_init %}
{% block core %}

<h1 class="display-4">Questions</h1>

{% if questions != [] %}
  <div id="questions">
    <div id="page_selector_questions" class="mb-3"></div>
    <div id="paged_content_questions">
      {% for msg in questions %}
        {% set index = loop.index0 %}
        {% include "fragments/question.html" %}
      {% endfor %}
    </div>
  </div>
{% else %}
  No questions.
{% endif %}


{% endblock core %}
