{% extends "base.html" %}

{% block core %}

<h1 class="display-4">Tasks list</h1>

  <table class="table table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for t in task_list %}
      <tr>
        <td class="align-middle"><a href="{{ url("task", t.id) }}">{{ t.name }}</a></td>
        <td class="align-middle">{{ t.title }}</td>
        <td>
          <form action="{{ url("tasks") }}" method="POST">
            {{ xsrf_form_html|safe }}
            <input type="hidden" name="task_id" value="{{ t.id }}"/>
            <input type="submit"
                   name="operation"
                   value="Remove"
                   class="btn btn-danger btn-sm"
                   {% if not admin.permission_all %}
                     disabled
                   {% endif %}
                   />
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock core %}
