{% extends "base.html" %}

{% block core %}
<h1 class="display-4">Remove Task</h1>

{% if admin.permission_all %}
  <p>
    Are you sure you want to remove task <code>{{ task.name }}</code> from CMS, including all related data?
    <br>
    This will remove {{ submission_count }} submission(s).
    <br>
    This operation cannot be undone.
  </p>
  <a onclick="CMS.AWSUtils.ajax_delete('{{ url("tasks", task.id, "remove") }}'); " class="btn btn-outline-danger" href="#">Yes</a>
  <a href="{{ url("tasks") }}" class="btn btn-outline-primary">No</a>
{% else %}
  You do not have permission to remove a task.
{% endif %}

{% endblock core %}
