{% extends "base.html" %}

{% block core %}

<h1 class="display-4">Teams list</h1>

{% if team_list|length == 0 %}
  <p>No teams found.</p>
{% else %}
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for t in team_list|sort(attribute="code") %}
        <tr>
          <td><a href="{{ url("team", t.id) }}">{{ t.code }}</a></td>
          <td>{{ t.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% endblock core %}
